{% assign MAX_DIGESTS = 3 %}
{% assign digests = site.wiz_release_radar | sort: 'date' | reverse %}

{% if digests.size > 0 %}
<section id="wiz-release-radar-panel">
  <h2 class="panel-heading">
    <i class="fas fa-magic" aria-hidden="true"></i> Wiz Release Radar
  </h2>
  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
    {% for digest in digests limit: MAX_DIGESTS %}
    <li class="text-truncate lh-lg">
      <a href="{{ digest.url | relative_url }}">{{ digest.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
